/* Search Bar */

.search-bar {
    padding: 0px !important;
    background: white;
}

.opportunity-search-bar {
    padding: 10px !important;
    background: white;
    margin: 8px 5px;
}

.search-bar.with-back .mat-list-text {
    padding-left: 8px !important;
}

.search-bar .mat-icon {
    cursor: pointer;
}

.search-project {
    display: none;
    width: 100%;
    left: 0px;
    z-index: 10;
    position: absolute;
    top: 97px !important;
}

.search-project .form-control {
    background: #fff5ed;
    font-size: 16px;
    line-height: 25px;
    border: none;
    padding-left: 20px;
    box-shadow: 0px 1px 3px #afafaf !important;
}

.search-project .cl-srh-btn {
    top: 4px;
    padding-top: 12px;
    right: 11px;
    width: 40px;
    text-align: center;
    height: 40px;
    font-size: 11px;
    position: absolute;
    color: #67757c;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
    .search-project {
        top: 80px !important;
        padding: 0px 15px;
    }
}

/* Details Card */

.card-title {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 16px 0px;
}

.card-desc {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 16px;
}

.card-title-edit {
    position: absolute !important;
    right: 16px;
    top: 12px;
}

.detail-card .img-item {
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.detail-card .img-item img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    padding: 15px;
    background: #e4e4e4;
    -o-object-fit: contain;
    object-fit: contain;
}

.divider {
    border-bottom: 1px solid;
    margin-bottom: 20px;
    color: #dedede;
}

.detail-card .info-container {
    padding: 0px 16px;
}

.detail-card .img-list .img-item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: 1px solid #e4e4e4;
}

.detail-card .img-list .upload {
    text-align: center;
    border: 1px dashed #949494;
    height: 130px;
    cursor: pointer;
    border-radius: 3px;
    padding-top: 30px;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.detail-card .img-list .upload:hover {
    background: #212121;
    color: #fff;
    border: 0px dashed #f7982f;
}

.detail-card .img-list .img-item {
    padding: 0px 5px 3px;
    position: relative;
}

.detail-card .img-list {
    margin: 16px -5px;
}

.detail-card .unit-list {
    margin: 16px -5px;
}

.detail-card .unit-list .unit-item {
    padding: 0px 8px 16px;
}

.detail-card .unit-list .unit-item button {
    width: 100%;
}

.detail-card .unit-list .unit-item.selected button {
    background: #f4511e;
    color: #fff;
}

.detail-card .info-item:first-child {
    margin-top: 16px;
}

.detail-card .info-item.with-top {
    margin-top: 16px;
}

.detail-card .info-title {
    font-size: 12px;
    font-weight: 400;
    color: #878787;
}

.detail-card .info-desc {
    font-size: 16px;
    font-weight: 500;
}

.detail-card .info-desc.checked {
    color: #f4511e;
}

.detail-card .info-desc.checked mat-icon {
    font-size: 12px !important;
}

.detail-card .info-item {
    margin-bottom: 16px;
}

.detail-card .form-field {
    padding-top: 16px;
}

.detail-card mat-checkbox {
    display: block;
}

.detail-card .form-field .mat-radio-button {
    width: 50%;
}

.detail-card.expansion {
    margin: 0px 4px 4px;
}

.detail-card.expansion .mat-expansion-panel-header {
    padding-left: 0px;
}

.detail-card.expansion .mat-expansion-panel-body {
    padding: 0px;
}

.detail-card .divider {
    margin-bottom: 0px;
}

.detail-card .form-field .left {
    padding-right: 10px;
}

.detail-card .form-field .right {
    padding-left: 10px;
}

/* Float Button */

.float-btn {
    position: fixed !important;
    bottom: 71px;
    right: 15px;
    z-index: 10;
}

.float-btn.no-footer {
    bottom: 15px;
}

.float-btn.secondary {
    bottom: 86px;
}

@media (min-width: 768px) {
    .float-btn {
        right: 30px;
    }
    .float-btn.no-footer {
        bottom: 30px;
    }
    .float-btn.secondary {
        bottom: 101px;
    }
}

/* Footer Menu */

.footer-menu {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    height: 56px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 10px 2px rgba(0, 0, 0, 0.05), 0 0px 5px 0 rgba(0, 0, 0, 0.1);
    /* remove blue highlight */
    -webkit-tap-highlight-color: transparent !important;
    -moz-tap-highlight-color: transparent !important;
    -o-tap-highlight-color: transparent !important;
    tap-highlight-color: transparent !important;
}

.footer-menu .back-btn {
    float: left;
    margin-left: 1rem;
}

.footer-menu .next-btn {
    float: right;
    margin-right: 1rem;
}

.footer-icon {
    color: #212121;
}

.footer-icon.disable {
    color: #b3b3b3;
}

.footer-icon.active {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc249), to(#e25e00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-title {
    display: block;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    color: #212121;
    margin-top: -6px;
}

.footer-title.active {
    color: #ff9000;
}

.footer-title.disable {
    color: #b3b3b3;
}

@media (min-width: 768px) {
    .footer-menu {
        width: calc(100% - 270px);
        left: unset;
        right: 15px;
        bottom: 0px;
        transition: 0.3s;
    }
}

/* Page Container */

.responsive-content {
    padding: 70px 0px;
    background: #f5f5f5;
}

.responsive-content.with-float {
    padding-bottom: 100px;
}

.responsive-content.with-footer {
    padding-bottom: 150px;
}

.responsive-content.with-2-float {
    padding-bottom: 165px;
}

@media (min-width: 768px) {
    .responsive-content {
        padding: 0px 15px 15px;
    }
}

/* Row List */

.two-n-three-row-list {
    padding: 0px !important;
    cursor: pointer;
}

.two-n-three-row-list .list-img {
    border-radius: 3px !important;
    height: 48px !important;
    width: 60px !important;
}

.two-n-three-row-list .item {
    background: white;
    height: 57px !important;
}

.two-n-three-row-list .title {
    color: #212121;
    font: 500 16px/18px Poppins !important;
}

.two-n-three-row-list .small-title {
    color: #212121;
    font: 500 14px/16px Poppins !important;
}

.two-n-three-row-list .small-sub-title {
    margin-left: 10px;
    color: #212121;
    font: 500 14px/16px Poppins !important;
}

.two-n-three-row-list .desc {
    color: #696969;
    font: 400 12px/16px Poppins !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.two-n-three-row-list .sub-desc {
    color: #696969;
    margin-left: 10px;
    font: 400 12px/16px Poppins !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.two-n-three-row-list .item.selected {
    background: #fff6eb;
}

.one-row-list {
    padding: 0px !important;
    cursor: pointer;
}

.one-row-list .item {
    background: white;
    height: 56px !important;
}

.one-row-list .item.selected {
    background: #fff6eb;
}

.one-row-list .title {
    color: #212121;
    font: 400 16px/18px Poppins !important;
}

.one-row-list .desc {
    color: #696969;
    font: 400 12px/16px Poppins !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.one-row-list.sub-desc {
    color: #696969;
    margin-left: 10px;
    font: 400 12px/16px Poppins !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Font Color */

.color-green {
    color: #009688 !important;
}

.color-red {
    color: #ff1818 !important;
}

.color-blue {
    color: #3f51b5 !important;
}

.color-orange {
    color: #f7982f !important;
}

.color-grey {
    color: #a7a7a7 !important;
}

.color-black {
    color: #212121 !important;
}

.color-white {
    color: #fff !important;
}

/* Status Cookie */

.status-cookie {
    border-radius: 100px;
    padding: 2px 10px;
    vertical-align: middle;
    font-size: 10px;
    font-weight: 500;
    background: #212121;
    color: #fff;
    width: fit-content;
    text-transform: uppercase;
}

.status-cookie.green {
    color: #009688;
    background: #00968814;
}

.status-cookie.red {
    color: #ff1818;
    background: #ff181814;
}

.status-cookie.orange {
    color: #f7982f;
    background: #f7982f14;
}

.status-cookie.grey {
    color: #696969;
    background: #69696914;
}

.status-cookie.black {
    color: #212121;
    background: #21212114;
}

/* Information Banner */

.information-banner {
    margin: 15px;
    background: #696969;
    border-radius: 3px;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #69696914;
}

.information-banner.green {
    color: #009688;
    background: #00968814;
}

.information-banner.red {
    color: #ff1818;
    background: #ff181814;
}

.information-banner.orange {
    color: #f7982f;
    background: #f7982f14;
}

.information-banner.grey {
    color: #696969;
    background: #69696914;
}

.information-banner.black {
    color: #212121;
    background: #21212114;
}

.information-banner .icon {
    float: left;
    margin-right: 10px;
    height: 45px;
}

.info-title-noti {
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    width: 100%;
}

.info-title {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

.info-title.with-icon {
    padding-left: 44px !important;
}

.info-title-xnoti {
    margin-top: 10px;
    display: inline-block;
    position: absolute;
}

span.title-no {
    font-weight: 500;
    font-size: 11px;
}

span.search-no {
    font-weight: 600;
    font-size: 12px;
}

.mat-badge-warn .mat-badge-content {
    background: #ff1818 !important;
}

.search-bar-title {
    color: #212121;
    font: 600 12px/14px Poppins !important;
}

input.form-control.search-bar-bg {
    color: #212121;
    font: 500 12px/14px Poppins !important;
    padding: 0 15px 0 0;
}

a.mat-ripple.cl-srh-btn {
    margin-right: 15px;
}

.cl-srh-btn i.ti-close {
    font-weight: bold;
}

.mat-list-base.search-bar .mat-list-item {
    height: 42px !important;
}

.m-0 {
    margin: 0 !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
    color: #212121 !important;
}

.two-n-three-row-list .desc-main.flex-container {
    display: flex !important;
    align-items: stretch;
}

.flex-container > div {
    margin-left: 0px;
}

.bg-panel-blue {
    background-color: #c7d6ff;
}

.mat-card-header-text {
    margin: 0 10px 0 0 !important;
}

.mat-card .mat-card-content {
    padding: 8px;
}

.m-checkbox {
    display: block !important;
    margin: 15px 0px !important;
}

.fw-300 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 500;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 500;
}

.text-black {
    color: #212121 !important;
}

.mat-simple-snackbar span {
    font: 400 13px/14px Poppins !important;
}

.mat-snack-bar-container {
    color: #ffffff !important;
    background: #212121 !important;
}

.mat-list-base .mat-list-item {
    color: #212121 !important;
}

mat-icon.mat-icon.remove-img {
    margin-right: -8px;
    margin-top: -9px;
}

.m-t-6-n {
    margin-top: -6px;
}

.card-table {
    padding: 0 !important;
}

.approve-modal mat-card mat-card-header div {
    font-weight: bold !important;
    font-size: medium !important;
}

.nowrap-hidden-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.d-flex-nowrap-justify-between {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/******************* 
Side Menu
*******************/
/* .active-page a {
    background: #6a76f9;
    color: #fff !important;
    border-radius: 3px;
  } */

.responsive-list.mat-list-base .active-page.mat-list-item {
    background: #bfd3ff;
    color: #fff !important;
    border-radius: 3px;
}

.active-page mat-icon {
    color: #fff !important;
}

#snav {
    /* 64px cannot be used in old template */
    margin-top: 70px;
    position: fixed;
}

.responsive-content {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding-bottom: 10px;
}

.mat-drawer-container {
    overflow: initial !important;
}

@media (min-width: 768px) {
    .responsive-content {
        width: calc(100% - 350px);
        height: calc(100% - 70px);
    }
}
