/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
html body [dir="rtl"] .p-l-0 {
  padding-right: 0px;
}

html body [dir="rtl"] .p-l-10 {
  padding-right: 10px;
}

html body [dir="rtl"] .p-l-20 {
  padding-right: 20px;
}

html body [dir="rtl"] .p-r-0 {
  padding-left: 0px;
}

html body [dir="rtl"] .p-r-10 {
  padding-left: 10px;
}

html body [dir="rtl"] .p-r-20 {
  padding-left: 20px;
}

html body [dir="rtl"] .p-r-30 {
  padding-left: 30px;
}

html body [dir="rtl"] .p-r-40 {
  padding-left: 40px;
}

html body [dir="rtl"] .ml-auto {
  margin-right: auto;
  margin-left: 0;
}

html body [dir="rtl"] .m-l-5 {
  margin-right: 5px !important;
}

html body [dir="rtl"] .m-l-10 {
  margin-right: 10px;
}

html body [dir="rtl"] .m-l-15 {
  margin-right: 15px;
}

html body [dir="rtl"] .m-l-20 {
  margin-right: 20px;
}

html body [dir="rtl"] .m-l-30 {
  margin-right: 30px;
}

html body [dir="rtl"] .m-l-40 {
  margin-right: 40px;
}

html body [dir="rtl"] .m-r-5 {
  margin-left: 5px;
}

html body [dir="rtl"] .m-r-10 {
  margin-left: 10px;
}

html body [dir="rtl"] .m-r-15 {
  margin-left: 15px;
}

html body [dir="rtl"] .m-r-20 {
  margin-left: 20px;
}

html body [dir="rtl"] .m-r-30 {
  margin-left: 30px;
}

html body [dir="rtl"] .m-r-40 {
  margin-left: 40px;
}

html body [dir="rtl"] .mat-card .mat-card-content {
  position: relative;
}

html body [dir="rtl"] .mailbox .message-center a .user-img {
  margin: 0 0 0 10px;
}
/*# sourceMappingURL=rtl.css.map */