@import url("../assets/ifca-standard/ifca-standard.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Economica:300,400,500,600,700");
@import url("../assets/ifca-standard/themify-icons/themify-icons.css");
@import url("../assets/ifca-standard/font-awesome/css/font-awesome.css");
@import url("../assets/ifca-standard/spinner.css");
@import url("../assets/ifca-standard/app.css");
@import url("../assets/ifca-standard/header.css");
@import url("../assets/ifca-standard/widgets.css");
@import url("../assets/ifca-standard/pages.css");
@import url("../assets/ifca-standard/sidebar.css");
@import url("../assets/ifca-standard/sidebar.css");
@import url("../assets/ifca-standard/responsive.css");
@import url("../assets/ifca-standard/rtl.css");

/***************************************/
/***************************************/
/* Originally from style.layout.css */
html,
body {
    height: 100%;
}

.desktop-profile {
    display: none;
}

.product-title {
    font: 700 17px/12px Economica;
    color: #fff;
    margin-top: 2px;
}

.product-title .sub {
    font: 300 17px/12px Economica;
    color: #f7982f;
    text-transform: uppercase;
}

.page-content {
    background: whitesmoke;
    height: 100%;
}

.mat-toolbar.ifca-header {
    background: #212121 !important;
    min-height: 64px !important;
}

.subheader-title {
    color: white;
    font-weight: 200;
    font-size: 15px;
    margin-top: 2px;
}

.subheader-word-action {
    font-weight: bold;
    color: #f7982f;
}

.subheader-word-action {
    font-weight: bold;
    color: #f7982f;
}

.mobile-header {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: block;
}

.desktop-header {
    display: block;
    padding: 15px 15px 0px 15px;
}

.mat-drawer-content {
    overflow: unset !important;
}

.subheader-step {
    font-size: 14px;
    color: #f7982f;
}

button:focus,
button:active:focus,
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}

router-outlet ~ * {
    height: 100%;
    width: 100%;
}
/***************************************/
/***************************************/

/***************************************/
/***************************************/
/* Originally from style.css */
.m-0,
.mat-form-field-appearance-outline .mat-form-field-wrapper,
.timeline-header.responsive-list.mat-list-base .mat-list-item {
    margin: 0 !important;
}

.m-b-0,
.responsive-list.subheader.mat-list-base .mat-list-item,
.responsive-list.subheader-set.mat-list-base .mat-list-item {
    margin-bottom: 0;
}

.m-b-80 {
    margin-bottom: 80px;
}

.m-lr-8 {
    margin-left: -8px;
    margin-right: -8px;
}

.mat-expansion-panel-body {
    padding: 10px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0em 0.75em 0 0.75em !important;
    background-color: transparent !important;
}

.form-amt-container {
    padding-left: 16px;
    padding-right: 16px;
}

.form-amt-container p,
.form-amt-container span {
    font: 500 14px/15px Poppins !important;
}

.font-14-weight-400 {
    font: 400 14px/14px Poppins !important;
}

.text-default {
    color: #808080 !important;
}

.font-14-weight-600 {
    font: 600 14px/14px Poppins !important;
}

.font-14-weight-600-black {
    font: 600 14px/14px Poppins !important;
    color: #212121;
}

.font-12-weight-600 {
    font: 600 12px/12px Poppins !important;
}

.font-12-weight-400 {
    font: 400 12px/12px Poppins !important;
}

.page-content {
    margin-top: 64px;
}

button.menu-burger.mat-icon-button {
    color: #fff;
    background-color: #7e8dff !important;
    border-radius: 0% !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

button.menu-logo.mat-icon-button {
    position: absolute;
    z-index: 1;
}

.ifca-general-header {
    background: linear-gradient(to right, #2f47ff, #2408ba) !important;
    padding: 8px 10px !important;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 10;
    right: 0;
}

.ifca-general-header.mat-toolbar-single-row {
    height: fit-content !important;
}

.ifca-general-header .bread-crumb,
.ifca-general-header .bread-crumb span {
    font: 400 9px/12px Poppins;
    color: #ffffff;
    padding-top: 2px;
}

.ifca-general-header .bread-crumb .active {
    font: 600 9px/12px Poppins;
    color: #ffffff;
    padding-top: 2px;
}

.bread-crumb-font7 {
    font: 400 7px/12px Poppins !important;
}

.ifca-general-header .bread-crumb-font7 .active {
    font: 600 7px/12px Poppins !important;
}

.ifca-general-header .selected-obj {
    font: 600 15px/18px Poppins;
    color: #ffb11f;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -2px;
}

.ifca-general-header .domain {
    font: 400 10px/16px Poppins;
    color: #ffffff;
    margin-top: -1px;
}

.selected-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    width: 100%;
    padding: 0 6px;
    align-self: center;
}

.ifca-general-header .btn {
    color: #ffb11f;
    height: 20px;
    width: 20px;
    align-self: center;
    font-size: 20px;
    margin-left: 8px;
}

.ifca-general-header .menu-burger {
    background-color: #352265 !important;
    border-radius: 0% !important;
}

.ifca-general-header .menu-burger mat-icon {
    color: #fff;
}

.ifca-general-header .line-header {
    border-bottom: 1px solid #ffb11f;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

.mat-raised-button.mat-primary {
    color: #fff !important;
    background-color: #0019d8 !important;
}

.mat-raised-button.mat-primary span {
    color: #fff !important;
    font: 500 14px/16px Poppins !important;
}

button.mat-raised-button.mat-primary .btn-blue {
    color: #fff !important;
    background-color: #0019d8;
    font: 500 12px/14px Poppins !important;
}

button.btn-blue-light {
    color: #000 !important;
    background-color: #e5edff !important;
    font: 300 10px/11px Poppins !important;
    border-radius: 30px;
    padding: 5px 10px;
    text-align: left !important;
    text-decoration: none;
    display: inline-block;
    margin: 3px 5px;
}

.sub-header-title {
    font: 600 14px/16px Poppins !important;
    line-height: 1rem !important;
    color: #001088;
}
.dialog-header-title {
    font: 600 16px/18px Poppins !important;
    line-height: 1rem !important;
    color: #001088;
}

.customHr {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.m-tb-5-lt-10 {
    margin: 5px 10px !important;
}

.header-label {
    font-size: 10px !important;
    color: #808080 !important;
}

.header-value {
    color: #212121;
    font: 500 12px/12px Poppins !important;
}

.header-value-blue {
    color: #0019d8;
    font: 500 10px/11px Poppins !important;
}

.login-logo {
    width: 44%;
    height: auto;
}

.white-input * {
    color: white !important;
    background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login-btn {
    width: 130px;
    border-radius: 35px !important;
}

.white-chbox .mat-checkbox-frame {
    background-color: transparent;
    transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.landing-img-bg {
    background-image: url("../assets/images/ifca-bg-desktop.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: fit-content;
    padding: 5em 1em;
}

.center-flex {
    align-self: center;
}

.full-width,
.contract-details-table {
    width: 100%;
}

.min-vp-height {
    min-height: 100vh;
}

img.login-logo {
    width: 186px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.forgot-pw {
    font: 400 12px/12px Poppins !important;
    color: rgb(255, 255, 255);
}

span.mat-checkbox-label {
    font: 400 12px/12px Poppins !important;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

.mat-list-base .mat-list-item {
    padding: 0px 8px 0px 8px !important;
}

.mat-list-item-content,
.responsive-list.meter-detail-list.mat-card .mat-card-content {
    padding: 8px 0px !important;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text {
    padding-right: 0;
    padding-left: 8px !important;
}

.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon {
    flex-shrink: 0;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 0px !important;
}

.responsive-list {
    padding: 0px 4px !important;
}

.responsive-list.subheader .mat-list-item,
.responsive-list.subheader-set .mat-list-item {
    border-radius: unset !important;
}

.responsive-list.subheader-set.mat-list-base .mat-list-item {
    background: #e5edff;
}

.responsive-list.single .mat-list-icon {
    width: 22x !important;
    height: 22px !important;
}

.responsive-list.mat-list-base .mat-list-item {
    height: fit-content !important;
    padding: 8px 12px !important;
    height: fit-content !important;
    background: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 10px 2px rgba(0, 0, 0, 0.05), 0 0px 5px 0 rgba(0, 0, 0, 0.1) !important;
    margin-bottom: 4px;
}

.title-f {
    font: 600 12px/14px Poppins !important;
    line-height: 1rem !important;
}

.title-f-blue {
    font: 600 12px/14px Poppins !important; /*TODO: sales, operation using this*/
    /* font: 600 14px/16px Poppins !important; //TODO: workdesk using this */
    line-height: 1rem !important;
    color: #0019d8;
}

.desc-f {
    display: block !important;
    color: #454545;
    font: 400 10px/16px Poppins !important;
}

.desc-f-black {
    display: block !important;
    font: 400 10px/16px Poppins !important;
    color: #212121 !important;
}

.desc-f-black-medium {
    display: block !important;
    font: 500 10px/16px Poppins !important;
    color: #212121 !important;
}

.desc-f-black-semibold {
    display: block !important;
    font: 600 10px/16px Poppins !important;
    color: #212121 !important;
}

.desc-f-blue {
    display: block !important;
    color: #0019d8;
    font: 400 10px/11px Poppins !important; /*TODO: sales, operation using this*/
    /* font: 400 10px/16px Poppins !important; //TODO: workdesk using this*/
}

.desc-f-blue-bold {
    display: block !important;
    color: #0019d8;
    font: 600 10px/11px Poppins !important; /*TODO: sales, operation using this*/
    /* font: 600 10px/16px Poppins !important; //TODO: workdesk using this*/
}

.desc-f-blue-bold-underline {
    display: block !important;
    color: #0019d8 !important;
    font: 600 10px/11px Poppins !important;
    text-decoration: underline;
}

.desc-f-red-bold {
    display: block !important;
    color: #fe4986;
    font: 600 10px/16px Poppins !important;
}

.desc-f-red-bold-without-block {
    color: #fe4986;
    font: 600 10px/16px Poppins !important;
}

.mat-list-base .mat-list-item .mat-list-icon {
    font-size: 30px !important;
    width: 30px !important;
    height: 30px !important;
    color: #0019d8;
    padding: 5px 2px !important;
}

.responsive-list .mat-list-item {
    border-radius: 4px;
}

.responsive-list .title-f {
    font: 600 12px/14px Poppins !important;
    line-height: 1rem !important;
    display: inline-block !important;
    color: #0019d8; /*TODO: sales, operation using this*/
    /* color: #001088; //TODO: workdesk using this*/
}

.appointment-date .title-f {
    font: 600 12px/14px Poppins !important;
    line-height: 1rem !important;
    display: inline-block !important;
    color: #212121;
}

.button-width {
    width: 150px;
}

button.mat-raised-button.btn-default {
    padding: 0px 30px !important;
}

button.mat-raised-button.btn-blue {
    background-color: #0019d8 !important;
    padding: 0px 30px !important;
}

button.mat-raised-button.btn-red {
    background-color: #ff4568 !important;
    padding: 0px 30px !important;
}

button.mat-raised-button.btn-blue span {
    color: #fff !important;
    font: 500 12px/14px Poppins !important;
}

button.mat-raised-button.btn-default span {
    font: 500 12px/14px Poppins !important;
}

button.mat-raised-button.btn-red span {
    color: #fff !important;
    font: 500 12px/14px Poppins !important;
}

.responsive-list.subheader .mat-list-base .mat-list-item .mat-line {
    display: inline-flex;
}

.detail-card.expansion .mat-expansion-panel-header,
.p-8-12 {
    padding: 8px 12px !important;
}

.detail-card.expansion .responsive-list.mat-list-base .mat-list-item {
    padding: 0px 20px 0px 0px !important;
    box-shadow: unset !important;
    margin: 0px !important;
}

.detail-card.expansion .responsive-list .title-f {
    font: 600 12px/14px Poppins !important;
    line-height: 1rem !important;
    color: #212121 !important;
}

.responsive-list.subheader .mat-list-icon,
.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon,
.mat-list-base .mat-list-item .mat-list-avatar,
.mat-list-base .mat-list-option .mat-list-avatar {
    border-radius: unset !important;
}

.search-bar,
.opportunity-search-bar {
    padding: 0px !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.04),
        0px 1px 5px 0px rgba(0, 0, 0, 0.02);
}

.search-bar .container {
    margin-top: 10px;
    background: white;
    font-size: 12px !important;
    margin-bottom: 5px;
}

.mat-dialog-container {
    background: none;
    box-shadow: none;
    padding: 0px !important;
    background: white;
}

.mat-dialog-container .mat-card {
    margin: 0px !important;
    box-shadow: none !important;
}

.mat-dialog-container {
    width: 90vw !important; /*TODO: sales, operation using this*/
    /* width: 80vw !important; //TODO: workdesk using this*/
    max-width: 560px;
}

.mat-tab-label,
.mat-tab-link {
    font-weight: 600 !important;
}

.mat-tab-label-active {
    color: #0e1088 !important;
    font-weight: 800 !important;
}

.mat-tab-list {
    flex-grow: 1;
    position: relative;
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    background: #e5edff;
}

.overflow-hidden {
    overflow: hidden !important;
}

.detail-card .info-container-meter {
    flex-flow: row wrap;
    box-sizing: border-box;
    /* display: flex;*/
    background-color: #e8e8e8;
    border-top: #c3c3c3 1px solid;
}

.detail-card .container-submeter {
    border-bottom: #d6d6d6 1px solid;
    padding: 5px 15px 0 15px;
}

.blue-bar {
    margin: -10px 0 0 0 0;
    padding: 0px !important;
    margin-top: 5px;
    background: #bfd3ff;
}

.mat-card .mat-card-header {
    /* padding: 10px 12px !important; //TODO: sales using this*/
    padding: 8px 12px !important; /*TODO: operation, workdesk using this*/
    border-radius: 4px 4px 0 0;
}

.floating-btn {
    background: linear-gradient(#2f47ff, #2408ba);
}

.bottom-right {
    position: fixed !important;
    right: 15px !important;
    bottom: 15px !important;
    z-index: 10 !important;
}

.mat-card.mat-card.mat-focus-indicator {
    margin: 6px 6px -1px 6px;
}

.upload-content-icon {
    width: 50px;
    -o-object-fit: contain;
    object-fit: contain;
    height: 35px;
    cursor: pointer;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.doc-style {
    font-size: 13px !important;
    color: #212121 !important;
    font-weight: 400 !important;
}

.title-display {
    margin: 0px 10px 4px 10px !important;
}

.doc-error-style {
    font-size: 11px !important;
    color: #ff4568 !important;
    font-weight: 400 !important;
    line-height: 13px; /*TODO: sales, operation using this*/
    /* line-height: 12px; //TODO: workdesk using this*/
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.54);
}

.detail-card .expanded-details {
    flex-flow: row wrap;
    box-sizing: border-box;
    background-color: #e8e8e8;
    border-top: #c3c3c3 1px solid;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 95%;
    }
}

@media (max-width: 767px) {
    .page-content {
        margin-top: 0px;
    }

    .desktop-header {
        display: none !important;
        transition: 0.5s;
    }
}

@media (min-width: 768px) {
    .mobile-header {
        display: none !important;
        transition: 0.5s;
    }

    .desktop-profile {
        display: block;
    }

    .responsive-content {
        padding: 0px 15px 15px;
    }

    .responsive-content.with-footer {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .box-login {
        width: 50%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .fixed-subheader {
        position: fixed;
        z-index: 10; /*TODO: sales, operation using this*/
        /* z-index: 2; //TODO: workdesk using this*/
        width: 100%;
    }

    .with-fixed-subheader {
        margin-top: 100px;
    }

    .with-fixed-subheader-without-search {
        margin-top: 59px;
    }

    .with-fixed-subheader-without-icon-without-search {
        margin-top: 51px;
    }

    .with-fixed-subheader-mat-tab {
        margin-top: 149px;
    }

    .with-fixed-subheader-1-line {
        margin-top: 38px !important;
    }

    .with-fixed-subheader-with-search {
        margin-top: 48px !important;
    }
}

.color-white {
    color: white;
}

.bg-white {
    background: white;
}

.bg-title-subheader {
    background-color: #e5edff !important;
}

.responsive-list .tenant-f {
    color: #212121;
    display: inline !important;
    font: 500 10px/11px Poppins !important;
}

.desc-f.desc-f-black-right {
    display: block !important;
    color: #212121;
    font: 600 10px/15px Poppins !important;
    text-align: right;
}

.scroll-container {
    height: 80vh;
}

.p-t-7 {
    padding-top: 7px !important;
}

.p-t-65 {
    padding-top: 65px !important;
}

.p-10 {
    padding: 10px;
}

.p-12 {
    padding: 12px;
}

.p-l-18 {
    padding-left: 18px !important;
}

.bg-color-grey {
    background-color: #f5f5f5 !important;
}

.desc-f.first-of-infoline {
    display: unset !important;
    margin-right: 3px;
}

.m-b-14 {
    margin-bottom: 14px;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.responsive-list .blue-f {
    color: #0019d8;
    font: 400 10px/11px Poppins !important;
}

.responsive-list.timeline-header .blue-bar {
    background: #c7d6ff;
}

.timeline .title-f {
    line-height: 22px !important;
    color: #0019d8 !important;
}

.timeline .numberAttachment {
    color: #0019d8 !important;
    font: 600 10px/22px Poppins !important;
    text-decoration: underline;
}

.timeline.bg-colour {
    background-color: #fff;
}

.timeline-log {
    display: block;
    margin-bottom: 16px;
    flex-flow: row wrap;
    box-sizing: border-box;
    background-color: #e8e8e8;
    border-top: #c3c3c3 1px solid;
}

.timeline-log ul.timeline:before {
    left: 20px !important;
}

.timeline-log .timeline-badge {
    left: 16px !important;
}

.timeline-log .timeline-panel {
    width: calc(100% - 30px) !important;
}

.m-l-auto {
    margin: 0px 0px 0px auto;
}

.color-theme {
    background-color: #5367ff !important;
}

.align-center {
    align-items: center !important;
}

.p-tb-6 {
    padding: 6px 0px !important;
}

.p-tb-14 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.text-link {
    text-decoration: underline;
    color: #0019d8 !important; /*TODO: sales, operation using this*/
    /* color: #0019d8; //TODO: workdesk using this*/
}

.p-l-8 {
    padding-left: 8px !important;
}

.p-r-8 {
    padding-right: 8px !important;
}

.pull-right {
    margin: 0 10px 0 10px;
    float: right !important;
}

.warning-bg-color {
    background-color: #fff2d9 !important;
}

.sr-alarm-icon {
    margin-right: 9px;
}

.icon-10 {
    font-size: 10px !important;
    height: 10px !important;
    width: 10px !important;
    margin-right: 2px;
    display: inline-block;
    align-content: center;
}

.icon-15 {
    font-size: 15px !important;
    height: 15px !important;
    width: 15px !important;
    margin-right: 2px;
    display: inline-block;
    align-content: center;
}

.responsive-list .infoline-f {
    color: #454545;
    font: 400 10px/11px Poppins !important;
}

.status-line {
    font: 400 10px/11px Poppins;
}

.responsive-list .infoline-f-blue {
    color: #0019d8;
    font: 400 10px/11px Poppins !important;
}

.first-col-infoline-fix {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.second-col-infoline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-icon {
    transform: rotate(180deg);
}

.divider-quotation {
    /* margin: 8px 0px !important; */
    position: inherit !important;
}

.contact-detail .material-icons {
    font-size: 18px;
    height: 18px;
    width: 18px;
    color: #0019d8;
}

.icon-16-blue {
    font-size: 16px !important;
    height: 16px !important;
    width: 16px !important;
    color: #0019d8 !important;
}

.icon-16 {
    font-size: 16px !important;
    height: 16px !important;
    width: 16px !important;
}

.dim-bg .mat-list-item-content {
    /* background-color: #E8E8E8 !important; //TODO: operation using this*/
    background-color: #d6d6d6 !important; /*TODO: workdesk, sales using this*/
}

.quotation-list .mat-list-item-content {
    padding: 8px 8px 4px 8px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.quotation-list:last-child .mat-list-item-content {
    border-bottom: unset !important;
}

.underline {
    text-decoration: underline;
}

.m-t-4 {
    margin-top: 4px;
}

.desc-f-blue-requestType {
    /* display: block !important; */
    color: #0019d8;
    font: 600 10px/11px Poppins !important;
}

.profile-bg {
    width: 100%;
    object-fit: cover;
    height: 135px;
}

.profile-img-in {
    border: 1px solid #e4e4e4;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    object-fit: cover;
    margin-top: -40px;
}

.profile-img-frame {
    text-align: center;
    margin-top: -80px !important; /*ori margin-top: -80px !important;*/
}

.profile-name {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    padding: 8px 12px !important; /*added*/
}

.edit-profile-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.profile-detail-frame {
    padding: 20px 0px 5px !important;
}

.profile-detail {
    margin-bottom: 15px;
}

.profile-detail .value {
    color: #212121;
    font-weight: 500;
    font-size: 15px;
}

.sidebar-clear-box-shadow .responsive-list.mat-list-base .mat-list-item {
    box-shadow: none !important;
}

.mat-card .mat-card-content.profile-detail-content {
    padding: 8px 32px 10px 32px !important;
}

.detail-card .container-submeter {
    border-bottom: #d6d6d6 1px solid;
    padding: 5px 15px 0 15px;
}

.container-submeter .title-meter-info-xl {
    font: 600 14px/14px Poppins !important;
    line-height: 1.6rem !important;
}

.container-submeter .title-meter-info-l {
    font: 600 12px/12px Poppins !important;
    line-height: 1.6rem !important;
}

.container-submeter .title-meter-info {
    font: 400 11px/12px Poppins !important;
    line-height: 1.6rem !important;
}

.responsive-list .meter-summay-list {
    border-bottom: #d6d6d6 1px solid;
    padding: 12px 0px !important;
}

.responsive-list .meter-summay-list-last {
    padding: 12px 0px 4px 0px !important;
}

.responsive-list .meter-detail-list-last {
    padding: 12px 8px 4px 8px !important;
}

.responsive-list .meter-detail-list {
    border-bottom: #d6d6d6 1px solid;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 1em 0 !important;
}

.clean-input .mat-form-field-infix {
    padding: unset;
    border-top: unset;
}

.mat-form-field-appearance-fill.mat-form-field-flex {
    background-color: white !important;
}

.mat-form-field-appearance-fill.mat-input-underline {
    display: none;
}

.noline .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: unset !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(47, 83, 230, 0.9) !important;
}

.meter-detail-list .mat-form-field-wrapper,
.mat-card .mat-card-header.p-b-0 {
    padding-bottom: 0px !important;
}

.bg-light-blue,
.responsive-list.subheader.mat-list-base .mat-list-item {
    /* background-color: #c7d6ff !important;*/
    background: #bfd3ff;
}

.responsive-list.meter-detail-list .mat-list-item {
    border-radius: unset;
}

.m-t-8 {
    margin-top: 8px !important;
}

.m-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.responsive-list.meter-attachment-popup .mat-list-item {
    border-radius: unset;
    box-shadow: unset !important;
    padding: 8px 4px !important;
}

.responsive-list.meter-attachment-popup {
    padding: unset !important;
}

.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
    flex: 0 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.master-meter-header {
    position: relative;
    top: 2px;
}

.word-break-all {
    word-break: break-all;
}

.min-height-20 {
    min-height: 20px !important;
}

.sr-listing .cdk-virtual-scroll-content-wrapper {
    position: inherit !important;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-bold {
    font-weight: bold;
}

.form-amt-container p.font-weight-600 {
    font-weight: 600 !important;
}

.checkbox-list {
    padding: 10px;
}

.meter-listing .cdk-virtual-scroll-content-wrapper {
    position: inherit !important;
    padding-bottom: 150px !important;
}

.timeline-header {
    border-radius: 4px 4px 0px 0px !important;
}

.meter-detail-content-header {
    font: 600 12px/18px Poppins !important;
    line-height: 1rem !important;
    color: #212121;
}

.responsive-list.meter-detail-list .mat-card-header {
    padding: 8px 8px 0px 8px !important;
}

.mat-list.mat-list-base.meter-form {
    padding-top: 0px !important;
}

.mat-list-base .mat-list-item.meter-reading {
    height: auto !important;
    padding: 8px !important;
}

.mat-card .mat-card-header.selection-container {
    padding: 8px !important;
}

.penalty-dropdown {
    margin-left: 10px !important;
}

.dialog-style .mat-dialog-container {
    width: 95vw !important;
    margin: auto;
    background: white;
}

.history-dialog.dialog-style .mat-dialog-container {
    width: 95vw !important;
    margin: auto;
    padding: 16px 0px 0px !important;
    overflow-x: hidden;
}

.history-dialog.dialog-style .dialog-title {
    padding: 12px 32px;
}

.p-10-12 {
    padding: 10px 12px !important;
}

.unselected-pic {
    opacity: 0.35 !important;
}

.slider-image {
    height: 35px;
}

.meter-detail-list .dim-bg {
    background-color: #d6d6d6 !important;
}

.meter-detail-list .dim-bg.margin-b-0 {
    margin-bottom: 0px !important;
}

.meter-detail-list .mat-tab-body-wrapper.dim-bg {
    background-color: #d6d6d6 !important;
}

.slider-selected-image-container {
    width: 100%;
    height: 210px;
    object-fit: contain;
    background-color: black;
}

.slider .owl-carousel .owl-item img {
    height: 50px;
    display: block;
}

.slider .owl-carousel.owl-drag .owl-item {
    width: 25% !important;
}

.slider .owl-carousel .owl-stage {
    width: 100% !important;
}

.responsive-list .title-f.meter-attachment-info-f-fw600 {
    font: 600 14px/21px Poppins !important;
}

.responsive-list .title-f.meter-attachment-info-f-fw400 {
    font: 400 14px/21px Poppins !important;
}

.screenload {
    z-index: 999999999;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
}

.screenload.disable-click {
    background: rgba(0, 0, 0, 0.54);
}

.m-auto,
.margin-auto {
    margin: auto !important;
}

.screenloadContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.screenloadSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screenloadContainer .mat-progress-spinner {
    position: absolute;
}

.network-error-icon {
    font-size: 150px;
    height: 150px !important;
    width: 150px !important;
    color: red;
}

.error-page {
    background-color: #f5f5f5;
}

.meter-attachment .header-value,
.meter-attachment .header-value-blue {
    font: 600 12px/12px Poppins !important;
}

button.mat-raised-button.btn-disable {
    background-color: #d6d6d6 !important;
}

.font-medium {
    font: 400 12px/12px Poppins !important;
}

.font-medium-bold {
    font: bold 10px/10px Poppins !important;
}

.font-large-bold {
    font: bold 14px/14px Poppins !important;
}

.font-large {
    font: 100 18px/18px Poppins !important;
}

audio {
    max-width: 260px;
}

@media (min-width: 350px) {
    audio {
        max-width: unset;
    }
}

.text-blue {
    color: #0019d8;
}

.property-gallery-slider .property-gallery-slider-image {
    max-height: 224px;
}
.property-gallery-slider .owl-stage {
    background-color: black;
}

.property-gallery-mat-card-header {
    border-bottom: 1px solid #d6d6d6;
}

.three-item-one-row > div {
    flex-grow: 1;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-baseline {
    align-items: baseline;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.table-cell {
    display: table-cell !important;
}

.blue-table {
    background-color: #e5edff;
}

.blue-table-header {
    background-color: #919dff;
}

.mat-form-field-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/******************* 
Modal
*******************/
.mat-dialog-container {
    padding: 16px 16px 0px !important;
}

.dialog-title {
    padding: 12px 16px;
    background: #c7d6ff;
    margin: -16px -16px 0px;
    font: 600 14px/16px Poppins !important;
    color: #001088 !important;
}

.scrollable {
    height: fit-content;
    overflow-y: scroll;
    max-height: 320px;
    margin-top: 16px;
}

.dialog-responsive-list.mat-list-base,
.dialog-responsive-list .mat-list-item-content,
.mat-card .mat-card-content.p-0,
.meter-attachment.mat-card .mat-card-content,
.timeline-header.responsive-list,
.detail-card.expansion .responsive-list.mat-list-base,
.responsive-list .mat-list-item-content,
.responsive-list.subheader,
.responsive-list.subheader-set {
    padding: 0px !important;
}

.dialog-responsive-list.mat-list-base .mat-list-item {
    padding: 8px 0px !important;
    height: unset !important;
}

.dialog-buttons {
    text-align: right;
    margin-bottom: 12px;
}

.dialog-buttons button {
    background-color: #0019d8;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: white !important;
    margin-left: 16px;
    font: 500 12px/36px Poppins !important;
    padding: 0 25px;
}

.dialog-footer {
    padding: 12px 0px;
    width: 100%;
    text-align: right;
    border-top: 1px solid #dedede;
}

.m-tb-8 {
    margin: 8px 0px !important;
}

.history-dialog-content {
    margin-top: unset !important;
    margin-bottom: 8px !important;
}

.footer-menu .footer-btn {
    flex-grow: 1;
}
/***************************************/
/***************************************/

/***************************************/
/***************************************/
/* Originally from style.scss */
.typing-indicator {
    $ti-color-bg: #e6e7ed;
    background-color: $ti-color-bg;
    will-change: transform;
    width: auto;
    border-radius: 50px;
    padding: 20px;
    display: table;
    margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: -2px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $ti-color-bg;
    }

    &::after {
        height: 10px;
        width: 10px;
        left: -10px;
        bottom: -10px;
    }

    span {
        height: 15px;
        width: 15px;
        float: left;
        margin: 0 1px;
        background-color: #9e9ea1;
        display: block;
        border-radius: 50%;
        opacity: 0.4;

        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                animation: 1s blink infinite ($i * 0.3333s);
            }
        }
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}
/***************************************/
/***************************************/

/* Variables */
/* ----------------------------- */
$black: #040605;
$blue: #3f2ecf;
$white: #f5f7f6;
$blue-white: #e1e7e8;
$pink: #fd588a;
$tangerine: #f86a6c;

/***************************************/
/***************************************/
/* Originally from style.override.scss */
.p-t-4 {
    padding-top: 4px !important;
}

.p-t-5 {
    padding-top: 5px;
}

.form-control-override {
    border: unset !important;
}

.overflow-auto {
    overflow: auto;
}

.main-container {
    overflow: auto !important;
}

.m-tb10-lr0 {
    margin: 10px 0 !important;
}

.mat-card .mat-card-content.form {
    padding: 14px 12px !important;
}

.line-height-20 {
    line-height: 20px !important;
}

.p-14-12 {
    padding: 14px 12px;
}

.override-icon {
    width: unset;
    color: #0019d8;
    font-size: 14px;
    vertical-align: -webkit-baseline-middle;
}

.m-t-14 {
    margin-top: 14px;
}

.primary-label {
    background-color: #e5edff;
    padding: 2px 5px;
    text-align: center;
    border-radius: 4px;
}

.no-pointer-event {
    pointer-events: none;
}

.status-color-code-yellow {
    color: #f16400 !important;
}

.status-color-code-red {
    color: #ff365d !important;
}

.status-color-code-green {
    color: #00bf0f !important;
}
.status-color-code-blue {
    color: #0019d8 !important;
}

.status-color-code-black {
    color: #212121 !important;
}

.footer-menu-width-100 {
    width: 100% !important;
    right: 0 !important;
}

.line-height-25 {
    line-height: 25px !important;
}

.mat-card .mat-card-header.p-10-12-without-icon {
    padding: 10px 12px !important;
}

.mat-card .mat-card-header.p-10-12-with-icon {
    padding: 0px 12px !important;
}

.m-10 {
    margin: 10px;
}

.m-t-2 {
    margin-top: 2px;
}

.mat-dialog-content-override {
    width: 100% !important;
    margin: auto;
    background: white;
}

#icon-20 {
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
    color: #0019d8;
    padding: 5px 2px !important;
}

.no-display-block {
    display: unset !important;
}

.d-inline-block {
    display: inline-block !important;
}

.header-end {
    position: absolute;
    right: 0;
    top: 2px;
}

.m-tb-6-lr-12 {
    margin: 6px 12px !important;
}

.m-tb-6-lr-12 .mat-table-label {
    font-size: 1rem;
    line-height: 23px;
    padding: 0px 15px !important;
    margin-bottom: 0px !important;
}

.no-data-div {
    text-align: center;
    padding: 15px;
}

.check-date {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    margin-left: 30px;
}

.ifca-general-header.mat-toolbar-single-row {
    height: initial !important;
    min-height: 70px;
}

.toggle-label {
    color: rgba(0, 0, 0, 0.54);
}

.toggle-style {
    margin-left: -10px;
}

.responsive-list .title-f {
    color: #212121;
}

.desc-f-blue {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.landing-img-bg {
    background-size: contain;
    background-repeat: repeat-x;
}

@media screen and (max-width: 450px) {
    .landing-img-bg {
        background-size: cover;
    }
}
.tag-line-text {
    color: #fcb023;
    font: 500 11px/10px Poppins;
    width: 186px;
}

.white-bordered mat-row,
.white-bordered mat-header-row,
.white-bordered mat-footer-row,
.white-bordered th.mat-header-cell,
.white-bordered td.mat-cell,
.white-bordered td.mat-footer-cell {
    border: 1px solid #ffffff88;
    border-bottom-color: #ffffff88 !important;
}

.mat-card-header-text {
    width: 100%;
}

.table-responsive table {
    width: 700px;
    overflow-x: auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-responsive .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    margin: 0px;
}

.table-responsive .mat-row,
.table-responsive .mat-header-row {
    display: table-row;
}

.table-responsive .mat-header-cell {
    text-align: center;
}

.table-responsive .mat-cell,
.table-responsive .mat-header-cell {
    width: auto;
    min-width: 100px;
    max-width: 250px;
    font: 400 12px/18px Poppins !important;
}

.table-responsive .mat-header-cell.x-short,
.table-responsive .mat-cell.x-short {
    width: auto;
    min-width: 60px;
    max-width: 250px;
}

.table-responsive .mat-header-cell.short,
.table-responsive .mat-cell.short {
    width: auto;
    min-width: 125px;
    max-width: 250px;
}

.table-responsive .mat-header-cell.medium,
.table-responsive .mat-cell.medium {
    width: auto;
    min-width: 175px;
    max-width: 250px;
}

.table-responsive .mat-header-cell.long,
.table-responsive .mat-cell.long {
    width: auto;
    min-width: 225px;
    max-width: 250px;
}

.line-height-2_5 {
    line-height: 2.5rem !important;
}

.table-responsive th {
    background-color: #6f7ffe;
    color: aliceblue;
}

.table-responsive tr:nth-child(even) {
    background-color: #e6eeff;
}

.table-responsive th.mat-header-cell:first-of-type,
.table-responsive td.mat-cell:first-of-type,
.table-responsive td.mat-footer-cell:first-of-type,
.table-responsive th.mat-header-cell:last-of-type,
.table-responsive td.mat-cell:last-of-type,
.table-responsive td.mat-footer-cell:last-of-type,
.table-responsive th.mat-header-cell,
.table-responsive td.mat-cell,
.table-responsive td.mat-footer-cell {
    padding: 0 10px 0 10px;
}

.mat-card .mat-card-content.business-insight {
    padding: 0;
}

.table-responsive .mat-row,
.table-responsive .mat-header-row {
    display: table-row;
    height: 40px !important;
}

.total {
    background-color: #f2f2f2 !important;
    text-align: right !important;
    font: 400 12px/18px Poppins !important;
}

.total-label {
    background-color: #f2f2f2 !important;
    text-align: left !important;
    font: 600 12px/18px Poppins !important;
}

.colored {
    background-color: red;
    border-radius: 25%;
}

.new {
    height: 10px;
    border: 1px solid #250ec1;
    background-color: #250ec1;
    border-radius: 25%;
    vertical-align: center;
    align-self: center;
}

.approved {
    height: 10px;
    border: 1px solid #2e46fe;
    background-color: #2e46fe;
    border-radius: 25%;
    vertical-align: center;
    align-self: center;
}

.pending-approval {
    height: 10px;
    border: 1px solid #4b99b6;
    background-color: #4b99b6;
    border-radius: 25%;
    vertical-align: center;
    align-self: center;
}

.rejected {
    height: 10px;
    border: 1px solid #78a9ff;
    background-color: #78a9ff;
    border-radius: 25%;
    vertical-align: center;
    align-self: center;
}

.mat-simple-snackbar * {
    color: white !important;

    .mat-button-wrapper {
        color: #ffb11f !important;
    }
}
/***************************************/
/***************************************/
